
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBEREADER</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <img src="./images/LOGO-01.png" alt="Logo" width=75px height=75px />
                <a href='/'>LIBEREADER</a>
        
            </h1>
            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/profile">Your Profile</a> |
                <button class="no-button" id="logout">LogOut</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer class="py-3 bg-dark footer">
            <div class="container">
                <div class="row text-white">
                    <div class="col">
                        <ul>
                            <li>Developers:
                                <strong>Brayden Day, Anna Gallagher, Reiley Burnitt, Bryce Debernarde</strong>
                            </li>
                            <li>
                                <a href="https://github.com/anna071387/LIBEREADER">Github Source Code</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>