<section class="container">
  <h3 class="library-name">{{library.name}}</h3>

  <!-- If the user is logged in, render the gallery content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each library.books as |books|}}
    {{> books-details}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view the library</a>
{{/if}}