html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(226, 224, 224);
}

.nav-link {
    color: white !important;
}

.btn {
    color: white;
    background-color: #062c83 !important;
}

footer a {
    color: #78a0ff;
}

.list-group a {
    color: #1373e9;
}

.item a {
    color: #006ee5;
}

.list-unstyled a {
    color: #0072ee;
}

/* search bar */
.searchBar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group {
    margin-bottom: 20px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.card-img-top {
    height: 400px;
}

.splash {
    height: 35em;
    padding-top: 9em;
    background: no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.splash .text-muted {
    color: white !important;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-details {
    text-align: left
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.topBottomOffset {
    margin-top: 20px;
    margin-bottom: 20px;
}

.topOffset {
    margin-top: 20px;
}

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .rating-amount {
    color: #9f0f02;
    font-weight: bold;
    margin-left: -5px;
  }
  